body{
	padding: 0;
	margin: 0;
	font-family: Tahoma, serif;
	background: #fff;
}
header, footer {
	height: 60px;
	background: #604020;
	padding: 50px 20px;

}
h1{
	text-align: center;
	color:  #fff;
	font-size: 30px;
}

div{
	width: 1200px;
	margin: 0 auto;
	margin-top: 20px;
	overflow: hidden;
}
div h2, article h2{
	color: #604020;
}
div p, article ui {
	color: #392613;
}
a {font-size:14px; color: #86592d; font-weight:bold}
a:hover {font-size:14px; color:#604020; font-weight:bold}
aside, main{
width: 50%;
float: left;
}
aside img{
	display: block;
	width: 80%;
	margin: 0 auto;
	border-radius: 15px;
}
article{
	margin-left: 60px;

}

footer p{
	color: #fff;
	text-align: center;
}